<article class="x7-article-shell" data-x7-article-shell>
  {{- $content := partial "x7/content-without-title-h1.html" (dict "page" . "content" .Content) -}}
  <header class="x7-article__header">
    <p class="x7-system-label">ARTICLE{{ with .Section }} / {{ . }}{{ end }}</p>
    {{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}
    {{ partial "x7/article-meta.html" . }}
    {{ partial "x7/tag-chips.html" . }}
  </header>
  <div class="x7-article__layout">
    <div class="x7-article__prose" data-x7-article-content>
      {{ partial "content-lead.html" . | safeHTML }}
      {{ $content | safeHTML }}
    </div>
  </div>
  {{ partial "x7/related-content.html" . }}
  {{- with .GetTerms "categories" }}
  <footer class="footline x7-article__footer">{{ partial "term-list.html" (dict "page" $ "taxonomy" "categories" "icon" "layer-group") }}</footer>
  {{- end }}
</article>
