{{- $isHtml := eq (.Store.Get "relearnOutputFormat") "html" -}}
{{- $isDomainSection := false -}}
{{- if and $isHtml (eq .Kind "section") -}}
  {{- $domainData := partial "x7/domain-data.html" . -}}
  {{- $isDomainSection = or (gt (len $domainData.children) 0) (gt (len $domainData.pages) 0) -}}
{{- end -}}
{{- $isCockpit := and $isHtml (or (eq .Kind "page") (and (eq .Kind "section") (not $isDomainSection))) (not (.Store.Get "relearnIsNested")) -}}
{{- if $isDomainSection -}}
  {{- partial "x7/domain-landing.html" . -}}
{{- else if $isCockpit -}}
  {{- partial "x7/article-shell.html" . -}}
{{- else -}}
<article class="default">
  <header class="headline">{{ partial "content-header.html" . }}</header>
  {{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}
  {{ partial "article-content.html" . }}
  <footer class="footline">{{ partial "content-footer.html" . }}</footer>
</article>
{{- end -}}
