{{- $isCockpit := and (eq (.Store.Get "relearnOutputFormat") "html") (eq .Kind "page") (not (.Store.Get "relearnIsNested")) -}}
{{- if and (eq (.Store.Get "relearnOutputFormat") "html") (eq .Kind "section") -}}
  {{- partial "x7/domain-landing.html" . -}}
{{- else if $isCockpit -}}
  {{- partial "x7/article-shell.html" . -}}
{{- else -}}
<article class="default">
  <header class="headline">{{ partial "content-header.html" . }}</header>
  {{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}
  {{ partial "article-content.html" . }}
  <footer class="footline">{{ partial "content-footer.html" . }}</footer>
</article>
{{- end -}}
